<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.1" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.2.8" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.47" />
        </element>
      </element>
    </root>
  </artifact>
</component>